@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ------ css reset ------ */
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  html {
    scroll-behavior: smooth;
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  /*-------- desktop font sizes------------- */

  .desk-display-font {
    @apply text-9xl;
    font-family: "podium-soft-variable", sans-serif;
    font-variation-settings: "wdth" 100;
  }
  /*
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  } */
  h1 {
    font-family: "podium-soft-variable", sans-serif;
    font-variation-settings: "wdth" 100;
    @apply uppercase;
    @apply text-customRed;
  }
  h2,
  h3 {
    font-family: "oswald", sans-serif;
    font-weight: 900;
    font-style: normal;
    @apply uppercase;
  }
  /*--------- mobile font sizes------------ */

  .mobile-display-font {
    font-family: "podium-soft-variable", sans-serif;
    font-variation-settings: "wdth" 100;
    @apply text-6xl;
  }
  /*
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  } */
}
