---
import MainLayout from "../layouts/MainLayout.astro";
import HeroTry from "../components/Herotry.astro";
import Merch from "../components/Merch.astro";
import EtHavAfProblemer from "../components/Et_Hav_Af_Problemer.astro";
import PlastikForureningensPris from "../components/plastik-forureningens_pris.astro";
import VoresArbejde from "../components/VoresArbejde.astro";
import Stot from "../components/Stot.astro";
import Grafer from "../components/Grafer.astro";
import "animate.css";
import "aos/dist/aos.css";
---

<MainLayout 
  title="Stop Plastikforurening - Tag del i kampen for miljøet" 
  description="Oplev virkningen af plastikforurening og hvordan vi sammen kan skabe en renere fremtid. Læs om vores arbejde, vigtige fakta og måder, du kan støtte kampen mod plastikforurening."
>
  <HeroTry />
  <section class="bg-[url('src/assets/images/background.webp')] bg-cover">
    <EtHavAfProblemer />

    <PlastikForureningensPris />

    <VoresArbejde />
    <Merch />
    <Grafer />
    <Stot />
  </section>
</MainLayout>
