<button type="submit" class="flex aspect-[141/53]  bg-[url('/buttonRed.svg')] contain bg-no-repeat w-36 ease-linear duration-200 hover:bg-[url('/buttonRedHover.svg')]  cursor-pointer oswald ">
    <div class="self-center m-auto"> 
     <span class="text-customWhite text-lg -ml-4 uppercase"><slot /></span>
 </div>
</button>