---
---

<div class="flex aspect-[141/53]  bg-[url('src/assets/images/buttonLightGreen.svg')] contain bg-no-repeat h-auto w-36 transition-all duration-100 hover:bg-[url('src/assets/images/buttonDarkGreen.svg')]  cursor-pointer">
   <div class="self-center m-auto"> 
    <button class="text-customWhite text-lg -ml-4"><slot /></button>
</div>
</div>