---
---

<div class="flex aspect-[141/53]  bg-[url('src/assets/images/buttonLightGreen.svg')] contain bg-no-repeat h-auto w-36 ease-linear duration-200 hover:bg-[url('src/assets/images/buttonDarkGreen.svg')]  cursor-pointer oswald ">
   <div class="self-center m-auto"> 
    <button class="text-customWhite text-lg -ml-4 uppercase"><slot /></button>
</div>
</div>