
---
import Button from '../components/Button.astro'
import { Image } from 'astro:assets';
import logoRed from "../assets/images/logoRed.svg";
---

<div>
    <div x-data="{ showmenu: false }" class="lg:static w-full bg-transparent text-customBlack">
        <div id="navbar" class="p-4 flex flex-row justify-between">
            <div id="logo" class="self-center">
                <a href="/">
                    <Image class="w-20"  src={logoRed} alt="logo"></Image>
                </a>
            </div>
            <nav id="desktopmenu" class="hidden lg:block font-semibold text-base self-center oswald">
                <ul class="flex flex-row gap-8">
                    <li class="self-center"><a href="#" class="hover:text-customLightGreen duration-75 ease-linear uppercase ">Plastikforurening</a></li>
                    <li class="self-center"><a href="#" class="border-transparent hover:border-b hover:border-customBlack duration-75 ease-linear uppercase">Problemet</a></li>
                    <li class="self-center"><a href="#" class="border-transparent hover:border-b hover:border-customBlack duration-75 ease-linear uppercase">Vores arbejde</a></li>
                    <li class="self-center"><a href="#" class="border-transparent hover:border-b hover:border-customBlack duration-75 ease-linear uppercase">Merchandise</a></li>
                    <li><a href=""><Button>STØT</Button> </a></li>
                </ul>
            </nav>
            <!-- Burgermenu -->
            <div id="burgermenu" class="self-center lg:hidden p-2 cursor-pointer" x-on:click="showmenu = !showmenu">
                <template x-if="!showmenu">
                    <!-- Burgerikon -->
                    <div>
                        <span class="block w-10 h-1 bg-customBlack my-2"></span>
                        <span class="block w-10 h-1 bg-customBlack my-2"></span>
                        <span class="block w-10 h-1 bg-customBlack my-2"></span>
                    </div>
                </template>
                <template x-if="showmenu">
                    <!-- Traditionelt kryds -->
                    <div class="relative w-10 h-10 flex items-center justify-center">
                        <span class="absolute block w-full h-1 bg-customBlack transform rotate-45"></span>
                        <span class="absolute block w-full h-1 bg-customBlack transform -rotate-45"></span>
                    </div>
                </template>
            </div>
        </div>

        <nav id="mobilmenu" class="flex flex-col content-center lg:hidden font-semibold text-customBlack bg-customWhite oswald"
            x-show="showmenu" x-transition x-on:click.outside="showmenu = false">
            <ul>
                <li class="p-4 border-b-2">
                    <a href="#" class="border-transparent hover:border-b hover:border-customBlack duration-75 ease-linear uppercase">Plastikforurening</a>
                </li>
                <li class="p-4 border-b-2">
                    <a href="#" class="border-transparent hover:border-b hover:border-customBlack duration-75 ease-linear uppercase">Problemet</a>
                </li>
                <li class="p-4 border-b-2">
                    <a href="#" class="border-transparent hover:border-b hover:border-customBlack duration-75 ease-linear uppercase">Vores arbejde</a>
                </li>
                <li class="p-4 border-b-2">
                    <a href="#" class="border-transparent hover:border-b hover:border-customBlack duration-75 ease-linear uppercase">Merchandise</a>
                </li>
                <li class="p-4 border-b-2">
                    <a href="#" class="border-transparent hover:border-b hover:border-customBlack duration-75 ease-linear uppercase">Støt</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script>
    /* //set active class on nav when the page is active */
    const nav = document.querySelector("#desktopmenu");
    const navLinks = nav.querySelectorAll("a");
    const currentURL = window.location.href;
    navLinks.forEach((link) => {
        if (link.href === currentURL) {
            link.classList.add("active");
        }
    });
</script>
