---

---

  <div
  class="absolute top left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 max-w-4xl text-center"
>
  <h1 class="text-4xl lg:text-6xl text-[#FF2A00] mb-8">
    Plastik-forureningens pris
  </h1>
  <div class="bg-[#001864] p-8">
    <p class="lg:text-lg text-left">
      Hver dag forurenes naturen med tusindvis af plastikstykker, som aldrig
      forsvinder igen. Hvert minut tømmes plastikaffald ud i havet, hvor det
      vikler sig rundt om sæler, skildpadder og delfiner og ender i maverne på
      hvaler, fugle og fisk. Plastik er at finde overalt, fra dybhavet og
      Marianergraven til toppen af Mount Everest og indlandsisen på Arktis.
      Det udgør en voksende trussel for vores natur- og havmiljø, økosystemer,
      klimaet og menneskers sundhed.
  </p>    
  </div>
</div>