---
import Forms from "../components/Forms.astro"
---
<style>
    @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Move up by 15px */
    }
    100% {
      transform: translateY(0);
    }
  }

  /* Floating animation class */
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
</style>

<section class="md:grid md:grid-cols-2 py-12 max-w-4xl mx-auto gap-3" id="stot">
    <div
    	data-aos="fade-left"
		data-aos-delay="400"
     class="md:order-2 flex  mx-5">
        <div class="self-center ">
  <h1 class="text-4xl lg:text-6xl text-center md:text-left py-0">Støt os</h1>
  <h2 class="text-2xl text-center md:text-left lg:text-4xl">Beskyt vores verden mod plastikforurening nu!</h2>
  <p class="py-5 text-justify">Du kan beskytte naturen, dyrelivet og vores børn mod plastik
    Plastikforurening truer livet i havet og på jorden. Hver dag forurenes naturen med tusindvis af plaststykker, som aldrig forsvinder igen. Hvert minut tømmes plastikaffald ud i havet, som vikler sig rundt om sæler, skildpadder, delfiner og ender i maver på hvaler, fugle og fisk. 
    Kun med din støtte kan vi kæmpe for, at politikere og virksomheder tager ansvar for at standse overproduktion og forurening fra plastik nu og at vi kan uddanne fremtidens forbrugere. Du bliver en del af en global Plastic Changer bevægelse, der siger:</p>
    <p class="text-customRed  text-center md:text-left">STOP PLASTIKFORURENING NU!</p>
   </div> 
</div>
    <div 
    data-aos="fade-right"
		data-aos-delay="400"
    class="  md:order-1 aspect-[559/811] bg-[url('src/assets/images/bag_formular.webp')] bg-contain   bg-no-repeat animate-float  ">
    <Forms />
    </div>
  
    
</section>

